body{
    font-family: times, sans-serif, helvetica, comic;
    line-height: 1.5;
    
    text-align: left;
}


header{
    background: black;
    border-bottom:rgb(255,165,0) 5px solid;
    border-top:rgb(255,165,0) 5px solid;
    color: white;
    min-height: 120px;
    
    
    
    
    text-decoration: none;
    
}

header h1{
  color:rgb(255,165,0); 
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  font-size: 80px;
}
    
   


header a{
    color: white;
    text-decoration: none;
    
    display: inline;
    position: relative;
    
    margin: 10px;
   
    
}




header li{
    
    display: inline;
    font-size: 30px;
    color: rgb(255,165,0);
    
    
}


.showcase{
    background:url(Citygif.gif) no-repeat 0px 0px;
    min-height: 900px;
    max-height: 1000px;
    color:black;
    background-size: cover;
}
.showcase1{
    
    min-height: 900px;
    max-height: 1000px;
    color:black;
   
}
    
.container{
    width: 90%;
    margin: auto;
    
}

header a:hover{
    color:rgb(255,165,0);
    font-weight: bold;
}

.highlight{
    color:rgb(255,165,0);
}
#showcaseC {
    
    
    
    
}

#sidebar h1{
    color: green;
    
    
    
    
}
#sidebar {
    
    margin-right: 50px;
    float: right;
    background-color: blue;
}
nav {
 float: right;   
 margin-top: 50px;
}
@media(max-width: 1225px){
    header h1{
        color: purple;
        
    }
    header{
        min-height: 300px;
    }
    nav{
        float: center;
    }
    header h1{
        
    }
    
}
html{
    background:black;
}
#sidebarleft{
    color: red;
    
}
#sidebarleft h2{
    width:80%;
    float: left;
    margin-left: 60px;
     
}
footer{
    background: black;
    border-bottom:rgb(255,165,0) 5px solid;
    border-top:rgb(255,165,0) 5px solid;
    max-height: 140px;
    
    
    
    
    
}
footer li{
    float: center;
    text-decoration: blink;
    text-align: center;
    color: rgb(255,165,0);
    display: list-item;
    font-size: 20px;
    list-style-type: none;
    
}
#middlecase1{
    margin-top: 100px;
}
.middlecase h2{
    color: rgb(255,165,0);
    text-align: center;
    text-decoration: underline;
    font: h2font;
    
    
    
}
.middlecase p{
    color: white;
    text-align: center;
    text-decoration: none;
    
}
@font-face {
    font-family: 'h2font';
    src:
}
    
    
    
    
    
    

